@use "./mixins" as *;
@use "./variables" as *;

* { box-sizing: border-box; }
html { scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: $color-text;
  background: $color-bg;
}

a { color: inherit; text-decoration: none; }

.container { @include container; }
.section { padding: $section-padding 0; }

h1,h2,h3 { margin: 0 0 $space-text; }
p { margin: 0 0 $space-text; line-height: 1.5; }

:root { scroll-padding-top: $header-offset; }
section[id] { scroll-margin-top: $header-offset; }

.page > .section {
  &:nth-of-type(odd) {
    background: $color-bg;
  }

  &:nth-of-type(even) {
    background: $color-bg-soft;
  }
}
